ul {
    display: flex;
    justify-content: space-evenly;
}

.planetList {
    display:flex;
    flex-direction: column;
    color: antiquewhite;
}

.planet {
    padding: 10px;
}

/* not sure how to reference the planet names in planet selector? */
.filteredPlanets {
    color: darkred;
    font-size: larger;
}

body {
    font-family: monospace;
background-color:black;
background-image:
radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
color: aliceblue;

}

.planet {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #0A4D68;
    /* Set the desired color */
}