.nav-bar {
    display: flex;
    margin: 13px;
    justify-content: space-around;
    padding-left: 0;
    align-items: center;
}

.nav-bar > a {
    background-color: #BDCDD6;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 2em;
    color: #205e61;
    text-decoration: none;
}
.btns:hover {
    background-color: #205e61;
    color:#BDCDD6;
    font-size: 2.5em;
}

.planetList {
    display:flex;
    flex-direction: column;
    color: #BACDDB;
}

.planet {
    padding: 10px;
}

.mapped-planets {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.planetSelector {
    /* height: 35vh; */
    height: 100%;
    color: #BACDDB;
    padding:20px;
    margin: 8px;
    font-size: 1.5em;
    list-style: none;
    width: 7%;
    border: 5%;
    border-radius: 100%;
    background-color: red;
    
}

/* .planetSelector {
    border: 5%;
    border-radius: 100%;
    background-color: red;

} */

a {
    color: #205e61;
}

body {
height: 100%;
margin: 0%;
font-family: monospace;
background-color:black;
background-image:
radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
color: #BACDDB;

}

/* .planet {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #3C486B;
} */

.container {
    height: 20em
    
} 

label {
    display: flex;
    justify-content: center;
    text-align: center;
} 

.centered-dropdown {
    height: 5em;
    margin-left: 2em;
    display: list-item;
    text-align: center;
    
}

form {
    display: flex;
    justify-content: center;
    text-align: center;
}

.home-headings {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #BACDDB;
    font-size: 2em;
} 

.planet-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    animation: rotate 120s infinite linear;
    /* Adjust the animation duration and timing as needed */
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
        /* Initial rotation angle */
    }

    100% {
        transform: rotate(360deg);
        /* Final rotation angle */
    }
}

.planet-name {
    font-size: 50px;
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
}

td {
    padding-left: 15px;
}

.other-facts-heading {
    text-align: left;
    font-size: 2em;
}

.planets-heading {
    text-align: center;
    font-size: 2em;
}

.other-facts {
    font-size: 1.5em;
}

.footer-element {
    
    position: fixed;
    margin: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #205e61;
    color: white;
    text-align: center;
} 

