@font-face {
    font-family: 'OpenDyslexic';
    src: url('./fonts/opendyslexic/OpenDyslexic-Regular.otf') format('truetype');
    src: url('./fonts/opendyslexic/OpenDyslexic-Bold.otf') format('truetype');
    src: url('./fonts/opendyslexic/OpenDyslexic-BoldItalic.otf') format('truetype');
    src: url('./fonts/opendyslexic/OpenDyslexic-Italic.otf') format('truetype');
}

header {
  height: 6em;
}
.nav-bar {
    display: flex;
    margin: 13px;
    justify-content: space-around;
    padding-left: 0;
    align-items: center;
}

.nav-bar > a {
    background-color: #BDCDD6;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 2em;
    color: #205e61;
    text-decoration: none;
}
.btns:hover {
    background-color: #205e61;
    color:#BDCDD6;
    font-size: 2.5em;
}

.btns-small {
    text-decoration: none;
}

.btns:hover {
    background-color: #205e61;
    color:#BDCDD6;
    font-size: 2.5em;
}

.main-home-heading {
    text-align: center;
    font-weight: bold;
    font-size: 3em;
  }
  
  .home-headings {
    text-align: left;
    color: #BACDDB;
    font-size: 2em;
  }

.planetList {
    display:flex;
    flex-direction: column;
    color: #BACDDB;
}
article {
    font-size: 1.25em;
}

.planet {
    padding: 10px;
}

.container {
    padding-left: 5px;
}
.mapped-planets {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    padding: 0;
}

.mapped-planets p {
    color: rgb(209, 6, 6);
    font-size: 4em;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0;
}


.planetSelector {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #BACDDB;
    padding:20px;
    margin: 8px;
    font-size: 1.5em;
    list-style: none;
    width: 8vw; /* vw stands for viewport width, and is a % of the vw this makes our planets responsive to the page*/
    height: 8vw;
    border-radius: 50%; 
    /* border radius 50% means that the border radius is equal to half the width and height  */
    background-color: #205e61;    
}

.planetSelector a {
    color: #BACDDB;
    text-decoration: none;
}

.planetSelector a:hover {
    font-size: 1.25em;
}

/* Questions CSS for Selector */
.selector-questions-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.4em;
    flex-wrap: wrap;
    padding-left: 1%;
  }
  
  .planet-colour,
  .planet-rings,
  .planet-temperature,
  .planet-moons {
    margin-bottom: 2%;
  }
  
  .selector-questions {
    display: block;
    text-align: left;
    }
  
  .selector-questions form {
    display: flex;
    flex-wrap: wrap;
  }
  
  .colour-options {
    display: block;
    /* margin-left: 6%; */
    font-size: 0.5em;
  }
  
  .rings-form {
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-right: 25%;
    font-size: 0.75em;
  }

  select {
    font-family: 'OpenDyslexic', sans-serif;
    color: #205e61;
    background-color: #BDCDD6;
  }

  input {
    font-family: 'OpenDyslexic', sans-serif;
    color: #205e61;
    background-color: #BDCDD6;
  }
  
  .planet-temperature input {
    font-size: 0.75em;
  }
  .rings-form input {
    font-size: 0.75em;
  }

  .rings-form input label {
    margin-right: 1%;
    margin-left: 6%;
    font-size: 0.75em;
  }

  .rings-form label {
    margin-right: 2%;
  }

  .planet-temperature form label {
    font-size: 0.75em;
  }
  
  /* .planet-moons input {
    display: block;*/
    /* margin-left: 6%; */
    /*font-size: 0.5em;
    width: 10%;
  } */

  .planet-moons input[type="range"] {
    width: 100%;
    height: 10%;
    background-color: #BDCDD6;

  }

/* end of ccs of the questions for selector */

a {
    color: #205e61;
}

/* our space background */
body {
font-family: 'OpenDyslexic', sans-serif;
background-color:black;
background-image:
radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
color: #BACDDB;

}

/* .planet {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #3C486B;
} */

/* label {
    display: flex;
    justify-content: center;
    text-align: center;
} 

.centered-dropdown {
    height: 5em;
    margin-left: 2em;
    display: list-item;
    text-align: center;
    
}

form {
    display: flex;
    justify-content: center;
    text-align: center;
} */
 
.planet-top-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.planet-image {
    display: block;
    padding-left: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    animation: rotate 120s infinite linear;
    /* Adjust the animation duration and timing as needed */
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
        /* Initial rotation angle */
    }

    100% {
        transform: rotate(360deg);
        /* Final rotation angle */
    }
}

.planet-name {
    font-size: 50px;
    text-align: center;
}
.table-container {
    flex: 1
}

table {
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
}

td {
    padding-left: 15px;
}

.other-facts-heading {
    text-align: left;
    font-size: 2em;
}

.planets-heading {
    text-align: center;
    font-size: 3em;
}

.other-facts {
    font-size: 1em;
    margin-left: 2%;
    }


#root {
height: 100%;
}



.footer-element {
position: fixed;
/* height: 100px;
margin-top: -100px; */
clear: both;
margin: 0;
left: 0;
bottom: 0;
width: 100%;
background-color: #205e61;
color: #BACDDB;
text-align: center;

} 
    

section {
    margin-left: 2%;
}

